@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  min-height: 100%;
}

.date-picker>div>div {
  width: 100%;
}

.search-table .MuiDataGrid-cell:focus,
.data-table .MuiDataGrid-cell:focus {
  outline: none !important;
}

.search-table .MuiDataGrid-virtualScroller {
  min-height: 600px;
}

/* width */
.scrollbar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 5px;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dyn-template .text-xl.font-bold.text-black {
  font-weight: 400 !important;
  font-size: 16px;

}

.dyn-template .custome-color-card {
  box-shadow: 0px 5px 5px -1px rgba(199, 199, 199, 0.39);
  -webkit-box-shadow: 0px 5px 5px -1px rgba(199, 199, 199, 0.39);
  -moz-box-shadow: 0px 5px 5px -1px rgba(199, 199, 199, 0.39);
}

.MuiSelect-root {
  border: none;
}

.dyn-template h1.text-xl.font-md.text-black, h1.text-lg.font-medium.text-black {
  font-size: 16px !important;
  font-weight: normal !important;
}

.dyn-template span.text-xl.font-md.text-black {
  font-size: 16px !important;
}

.dyn-template span.absolute.top-0.left-0.right-0.bottom-0.bg-gray-300.rounded-full {
  width: 55px !important;
  height: 28px !important;
}

.dyn-template span.absolute.top-1.left-1.bg-white.w-6.h-6.rounded-full.transition-transform {
  width: 20px !important;
  height: 20px !important;
}

@media (min-width: 1280px) {
  .xl\:max-w-5xl {
    max-width: 64rem;
  }
}

@media (min-width: 1024px) {
  .lg\:max-w-5xl {
    max-width: 64rem;
  }
}