.wrapper {
        background: radial-gradient(circle, #2b2121, #c4baad, #d9cdbf, #969088, #736b6b, #1c1a18);
        background-size: 200% 200%; 
        backdrop-filter: blur(100px); 
        min-height: 100vh;
        

    }
